__pycache__

d1-nn/data/*
d1-nn/data/*.model
d1-nn/data/*.npy
d1-nn/drawings/*

# Dataset-2
d2-nn/data/*
d2-nn/processed/*
d2-nn/trained/*
d2-nn/drawings/*

# Dataset-2
d2-conv/data/*Dataset
d2-conv/processed/*
d2-conv/trained/*
d2-conv/drawings/*
