# Auto-gen files
__pycache__

# Dataset-1
dataset-1/data/*dataset
dataset-1/data/*.model
dataset-1/data/*.npy
dataset-1/drawings/*

# Dataset-2
dataset-2/data/*Dataset
dataset-2/processed/*
dataset-2/trained/*
dataset-2/drawings/*

# Dataset-2
dataset2-conv/data/*Dataset
dataset2-conv/processed/*
dataset2-conv/trained/*
dataset2-conv/drawings/*

# Skipping the environment
env
